<!DOCTYPE html>
<html>
	<head>
	<link rel="stylesheet" href="/css/bootstrap.css" />
	<link rel="stylesheet" href="/css/style.css" />
	<link href="https://fonts.googleapis.com/css?family=IBM+Plex+Serif:300,600|Montserrat:100,200,300,400,500,900|PT+Serif" rel="stylesheet">
	<style type="text/css">body { padding-top: 0;}</style>
</head>
<body>
	<div class="container">
{{{body}}}
	</div>
</body>
</html>