<div class="jumbotron wiki_article">
				<div class="container">
					<div class="row">
						
					</div>
				</div>
			</div>
<div class="container mt-5">
	<div class="row">
		<div class="col-lg-8">
			<h2 class="montserratfont text-uppercase"><strong>Lorum ipsum dolor sit amet</strong></h2>
		</div>
		<div class="col-sm-3">
			<h6 class="mt-2 text-sm-right"><small><a href="/wiki">Back to wiki home</a></small></h6>
		</div>
	</div>
		<div class="row">
			<div class="col-md-7 ml-1">
				<div class="row ml-2">
					<div class="row mt-1 mr-3">
					<h5><strong>Understanding finance</strong></h5>
					</br>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sapien mi, pharetra venenatis felis sodales, condimentum lacinia arcu. Curabitur massa erat, rutrum a massa eu, ultricies luctus purus. Ut vitae fermentum dui. Suspendisse nec massa ultricies, bibendum nibh sit amet, cursus diam. Aenean malesuada dui non ornare ornare. Donec porttitor suscipit nibh sit amet dignissim. Praesent ut massa orci. Proin nec aliquam lectus. Nam vitae nisi eget purus sollicitudin vehicula vitae vitae neque. Integer non dapibus dui, a mattis lectus. Aenean ac facilisis metus, sit amet sagittis nibh. Duis gravida tellus nisl, in luctus metus sodales et. Etiam ultricies sagittis velit eget viverra. Curabitur imperdiet, nibh eget vehicula sodales, nisl sapien rhoncus eros, vel pharetra nibh tortor sit amet felis.
					</p>
					<h5><strong>Basics of investment</strong></h5>
					<p>
						Vestibulum ultrices erat ac ante congue, eget vulputate nunc vestibulum. Vestibulum ullamcorper nulla eu nisl tincidunt, et facilisis felis fringilla. Sed convallis nunc commodo, tristique augue sed, auctor arcu. Suspendisse eleifend urna ex, sit amet egestas quam imperdiet sed. Donec lacinia maximus odio ac elementum. Vestibulum mattis volutpat est id suscipit. Aliquam erat volutpat. Nam vel mauris viverra velit efficitur suscipit id sit amet mauris. Nunc vulputate fringilla tortor, nec scelerisque neque. Sed rutrum scelerisque sem vel convallis. Donec ultricies odio justo, quis pulvinar odio consectetur non. Cras eu ullamcorper purus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vestibulum lacinia erat ligula, ut ultricies mi convallis eu. Integer finibus nisl at ullamcorper mollis.

					</p>
				</div>

				
			</div>
		</div>
		
		<div class="col-md-4 mt-4">
			<div class="callout callout-cyan">
				<h5><strong>Related Articles</strong></h5>
				<ul>
					<li><a href="/article">Getting started.</a></li>
					<li><a href="/article">How to start investing.</a></li>
					<li><a href="/article">Understanding capital risk.</a></li>
					<li><a href="/article">Beginners guide to budgeting.</a></li>
					<li><a href="/article">Ten reasons why budgeting is important.</a></li>
					<li><a href="/article">Sample budget.</a></li>
				</ul>
			</div>

		</div>

