<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="/js/dash.js"></script>


<div class="jumbotron dashboard">
	<div class="container">
		<div class="row">
			
		</div>
	</div>
</div>
<div class="container">
	
<div class="mb-5 mt-3">
	<div class="row">
		<div class="col-md-12 text-center">
			<h2 class="foxhead text-gray-dark mb-0">Welcome back, {{name}}</h2>
			<h4 class="mt-0 subhead"><strong>Your budget is going great!</strong></h4>
		</div>
	</div>
	<div class="row">
		<div class="col-xl-12">
		<div class="" id="chart_div_income_expense" style="width: 100%; height: 30vmin;">
		</div>
	</div>
	<div class="row framepad">
		<div class="col-sm-2"></div>
		<div class="col-md-4 pr-4 pl-4">
			<h2 class="text-gold text-uppercase text-center montserratfont mb-0">Budget</h2>
			<p class="font-italic text-center mt-0"><small>Create, update or adapt your budget to keep on track</small></p>
			<p class="text-justify">Use the budget calculator to create a detailed personalised overview of your income and spending.</p>
			<p class="text-center"><a class="btn btn-secondary" href="/budget" role="button">Go to your budget &raquo;</a></p>
		</div>
		<div class="col-md-4 pr-4 pl-4">
			<h2 class="text-magenta text-uppercase text-center montserratfont mb-0">Wiki</h2>
			<p class="font-italic text-center mt-0"><small>If you have questions you can find answers here.</small></p>
			<p class="text-justify">Fox is built from the ground up to educate users to provide both the skills and the tools needed to make better financial decisions </p>
			<p class="text-center"><a class="btn btn-secondary" href="/wiki" role="button">View wiki articles &raquo;</a></p>
		</div>
		<div class="col-sm-2"></div>
	</div>
</div>
</div>