<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron foxbackground">
	<div class="container">
		<div class="row">
			<div class="col-lg-4">
				<h1 class="display-3 foxhead text-white">Your incomme simplified</h1>
				<p class="text-white ibmfont">A smart platform for sustainable spending, learning about finance, investment and how to make your money work for you.</p>
				<div class="btn-toolbar mb-2">
					<a class="btn btn-warning mr-3" href="/users/register" role="button">Register &raquo;</a>
					<a class="btn btn-warning mr-3" href="/users/login" role="button">Login &raquo;</a>
				</div>
			</div>
			<div class="col-sm-8">
				<img src="/media/foxlogo.svg" class="homelogo float-lg-right img-flid mr-5 ">
			</div>
		</div>
	</div>
</div>

<div class="jumbotron knowledge">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 float-left pagetop">
				<h1 class="display-3 foxhead text-cyan">Knowledge is power</h1>
				<p class="text-gray-dark ibmfont">Fox aims to educate customers, and help them to develop better financial understanding and awareness, grow their savings portfolio and manage their money better.</p>
			</div>
			<div class="col-lg-6 float-right">
			</div>
		</div>
	</div>
</div>

<div class="jumbotron tools">
	<div class="container">
		<div class="row">
			<div class="col-lg-5 float-right">
			</div>
			<div class="col-lg-7 float-left  pagetop">
				<h1 class="display-3 foxhead text-sm-right text-gold">More than just<br> a set of tools</h1>
				<p class="text-sm-right text-white ibmfont d-inline-block">Fox provides you with the tools you need to plan for the future, as well as access to the largest financial advice comunity on the internet and a vast wiki of financial information.</p>
			</div>
		</div>
	</div>
</div>

<div class="jumbotron support">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 float-left  pagetop">
				<h1 class="display-3 foxhead text-magenta">All the support you need</h1>
				<p class="text-gray-dark ibmfont">With a fox premium account you gain direct access to a personal financial advisor who can help guide you in decision making, savings or investments.</p>
			</div>
			<div class="col-lg-6 float-right">
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row mb-4">
		<div class="col">
			{{#if success_msg}}
			<div class="alert alert-success">{{success_msg}}</div>
			{{/if}}

			{{#if error_msg}}
			<div class="alert alert-danger">{{error_msg}}</div>
			{{/if}}

			{{#if error}}
			<div class="alert alert-danger">{{error}}</div>
			{{/if}}

		</div> 
	</div>

	<div class="framepad mb-5">
	<div class="row">
		<div class="col-md-12">
			<h2 class="foxhead text-center text-gray-dark">Our Philosophy</h2>
		</div>
	</div>
	<div class="row framepad">
		<div class="col-md-4 pr-4 pl-4">
			<h2 class="text-cyan text-uppercase text-center">Skills</h2>
			<p class="text-justify">Fox is built from the ground up to educate users to provide both the skills and the tools needed to make better financial decisions.</p>
		</div>
		<div class="col-md-4 pr-4 pl-4">
			<h2 class="text-gold text-uppercase text-center">Tools</h2>
			<p class="text-justify">Fox is built from the ground up to educate users to provide both the skills and the tools needed to make better financial decisions </p>
		</div>
		<div class="col-md-4 pr-4 pl-4">
			<h2 class="text-magenta text-uppercase text-center">Support</h2>
			<p class="text-justify">Fox is built from the ground up to educate users to provide both the skills and the tools needed to make better financial decisions </p>
		</div>
	</div>
</div>
			</div> 

