<div class="loginbg">
  <div class="container h-100 framepad">
    <div class="row h-100 justify-content-center align-items-center">
      <div class="col m-auto logbox mb-0">
        <h2 class="mb-5">Register</h2>
        {{#if errors}}
        {{#each errors}}
        <div class="alert alert-danger modernalert mb-1">{{msg}}</div>
        {{/each}}
        {{/if}}
        {{#if success_msg}}
        <div class="alert alert-success modernalert">{{success_msg}}</div>
        {{/if}}

        {{#if error_msg}}
        <div class="alert alert-danger modernalert">{{error_msg}}</div>
        {{/if}}

        {{#if error}}
        <div class="alert alert-danger modernalert">{{error}}</div>
        {{/if}}
        <form method="post" action="/users/register">
         <div class="form-group">
          <input type="text" class="form-control mb-3 borderedge" placeholder="Firstname" name="name">
          <input type="text" class="form-control mb-3 borderedge" placeholder="Lastname" name="lname">
          <input type="text" class="form-control mb-3 borderedge" placeholder="Email" name="username">
          <input type="password" class="form-control mb-3 borderedge" placeholder="Password" name="password">
          <input type="password" class="form-control borderedge" placeholder="Confirm password" name="password2">
        </div>
        <button type="submit" class="btn btn-warning loginbtn">Register</button>
      </form>
      <div class="row justify-content-center">
        <p class="ml-3 mt-3 foot mb-0">Already registered? <a href="/users/login">Login here</a></p>
      </div>
    </div>
  </div>
</div>
</div>

