<div class="jumbotron wiki">
				<div class="container">
					<div class="row">
						
					</div>
				</div>
			</div>
<div class="container mt-4">
	<h2 class="montserratfont text-uppercase"><strong>Knowledge Base</strong></h2>
	<div class="row">
		<div class="col-sm-8">
			<div class="input-group mt-4">
				<input type="text" class="form-control square" placeholder="Search fox...">
				<span class="input-group-btn">
					<button class="btn btn-default btn-warning square" type="button">Search</button>
				</span>
			</div>
			<div class="row ml-2">
				<div class="col-sm-6">
					<div class="row mt-4">
						<h6><strong>General</strong><small> (6 articles)</small></h6>
						<ul>
							<li><a href="/article">Getting started.</a></li>
							<li><a href="/article">Beginners guide to budgeting.</a></li>
							<li><a href="/article">How to save money on a small incomme.</a></li>
							<li><a href="/article">Types of savings accounts and how to use them.</a></li>
						</ul>
					</div>
					<div class="row mt-4">
						<h6><strong>Budgeting</strong><small> (3 articles)</small></h6>
						<ul>
							<li><a href="/article">Beginners guide to budgeting.</a></li>
							<li><a href="/article">Ten reasons why budgeting is important.</a></li>
							<li><a href="/article">Sample budget.</a></li>
						</ul>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="row mt-4">
						<h6><strong>Investments</strong><small> (5 articles)</small></h6>
						<ul>
							<li><a href="/article">Choosing safe investment options.</a></li>
							<li><a href="/article">How to start investing.</a></li>
							<li><a href="/article">Understanding capital risk.</a></li>
							<li><a href="/article">Beginners guide to investments.</a></li>
							<li><a href="/article">Why invtest?</a></li>
						</ul>
					</div>

				</div>
			</div>
		</div>

		<div class="col-sm-4 mt-4">
			<div class="callout callout-cyan">
				<h5><strong>New Articles</strong></h5>
				<ul>
					<li><a href="/article">Getting started.</a></li>
					<li><a href="/article">How to start investing.</a></li>
					<li><a href="/article">Understanding capital risk.</a></li>
					<li><a href="/article">Beginners guide to budgeting.</a></li>
					<li><a href="/article">Ten reasons why budgeting is important.</a></li>
					<li><a href="/article">Sample budget.</a></li>
				</ul>
			</div>

		</div>

